Program.cs
obj/project.assets.json
obj/project.nuget.cache
obj/Quizzen.csproj.nuget.dgspec.json
obj/Quizzen.csproj.nuget.g.props
obj/Debug/net7.0/Quizzen.assets.cache
obj/Debug/net7.0/Quizzen.GeneratedMSBuildEditorConfig.editorconfig
